# ModelSim / Quartus Simulation Files

# Simulation database files
wlf*
*.wlf
*.mpf
_ngo
_impact

# Transcript and log files
*.log
transcript
vsim.wlf

# Project and work library files
*.mpf
work/
transcript-TCL.log
modelsim.ini

# Other generated directories and files
db/
incremental_db/
simulation/
output_files/
greybox_tmp/
timing/
*.qws
*.bak
*.rpt
c5_e_sii_ddr_p0*

alexnet.bin


# Quartus II / Prime Output Folders
db/
incremental_db/
greybox_tmp/
hc_output/
hps_isw_handoff/
simulation/
stp_priv_cache/
qdb/
dni/

# Compilation Outputs
*.bak
*.orig
*.summary
*.sof
*.pof
*.jdi
*.map
*.pin
*.done
*.qws
*.smsg
*.txt